.everything {
  background: #f5f4f9;
  border-radius: 10px;
  width: 300px;
  margin: 40px 20px;
  padding: 5px;
}

h1 {
  color: #b7c2d6;
  font-family: Arial;
  font-size: 20px;
}

.checkout-head {
  border-bottom: 2px solid #b6bac6;
  border-top: 2px;
}

.inputs input {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.card-number {
  width: 215px;
}

.small-input {
  width: 60px;
  text-align: center;
}

.name {
  width: 140px;
}

.button {
  color: white;
  width: 290;
  background: #008fff;
  font-weight: bold;
  padding: 5px 0;
}
