* {
  font-size: 14px;
}

.everything {
  background: #f5f4f9;
  border-radius: 10px;
  width: 300px;
  margin: 40px 20px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
}

h1 {
  color: #b7c2d6;
  font-family: Helvetica;
  font-size: 16px;
}

.checkout-head {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  background: #fbfeff; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbfeff 0%, #f5f6fb 31%, #e8ecf7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fbfeff 0%,#f5f6fb 31%,#e8ecf7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fbfeff 0%,#f5f6fb 31%,#e8ecf7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfeff', endColorstr='#e8ecf7',GradientType=0 ); /* IE6-9 */
  right: 5px;
  bottom: 5px;
  width: 310px;
  height: 45px;
  padding-top: 10px;
}

.checkout-head img {
  float: left;
  padding: 0 10px;
  font-family: Arial;
  font-size: 20px;
}

.inputs input {
  border-radius: 5px;
  height: 35px;
  margin: 5px;
  padding: 6px;
  border: 1px solid #b6b6c0;
  box-shadow: inset 0 10px 15px -2px rgba(0, 0, 0, 0.05);
}

.inputs .card-number {
  width: 225px;
  background: white url("checkout/visa.png") 95% 50% no-repeat;
  padding-right: 20px;
  padding-right: 40px;
}

.small-input {
  width: 50px;
  padding: 5px;
  text-align: center;
}

.name {
  width: 160px;
}

.inputs .button {
  color: #eee;
  width: 290;
  background: #76d1ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #76d1ff 0%, #48adfd 8%, #078bf7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #76d1ff 0%,#48adfd 8%,#078bf7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #76d1ff 0%,#48adfd 8%,#078bf7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76d1ff', endColorstr='#078bf7',GradientType=0 ); /* IE6-9 */
  border: solid #3276b3 1px;
  font-weight: bold;
  padding: 10px;
  box-shadow: none;
}

.inputs {
  position: relative;
  padding: 5px 0 0 5px;
  right: 5px;
  bottom: 5px;
  width: 305px;
  box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: none;
  color: #72b5ff;
  border:1px solid rgb(143,177,215);
  box-shadow: 0 0 10px rgb(143,177,215);
}

#price {
  position: absolute;
  left: 260px;
  bottom: 10px;
}

.button:hover {
  outline: none;
  box-shadow: 0 0 10px rgb(143,177,215);
}

.button:active {
  background: #0762f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #0762f4 0%, #078bf7 13%, #078bf7 82%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0762f4 0%,#078bf7 13%,#078bf7 82%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0762f4 0%,#078bf7 13%,#078bf7 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0762f4', endColorstr='#078bf7',GradientType=0 ); /* IE6-9 */
}
